<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
  </head>

  <body>


    <nav class="navbar navbar-light bg-light navbar-expand-lg sticky-top">
        <div class="container ">
          <a class="navbar-brand" href="#">YoloTechNews</a>
  
          <form class="d-flex col-lg-4 ms-auto" method="GET" action="search">
  
            <input class="form-control me-2" type="search" placeholder="Search news" aria-label="Search"  id='query' name='query'>
  
            <button class="btn btn-primary " type="submit">Search</button>
          </form>
        </div>
      </nav><br>
    
    

    

      </body>

</html>
